.navbar{
    position:absolute;
    top:0;
    left:0;

    width:100%;

    padding:32px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:100;
}

.navbar-logo img{
    width:180px;
    height:auto;
}

.navbar-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-btn{

    background:transparent;

    color:white;

    border:1px solid rgba(255,255,255,.6);

    padding:15px 30px;

    border-radius:999px;

    cursor:pointer;

    transition:.35s;
}

.nav-btn:hover{

    background:white;

    color:black;
}