.map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  :global(.maplibregl-canvas) {
    cursor: grab;
  }

  :global(.maplibregl-canvas:active) {
    cursor: grabbing;
  }

  :global(.maplibregl-ctrl-attrib) {
    font-size: 10px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 6px 0 0 0;
  }
}